@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@import 'nav';

/*
Views:
    Small < 700px
    Medium < 900px
    Large 900-1600px;
*/


/************ Universal Styles ************/
html {
    scroll-behavior: smooth;
}
body {
    @supports (scroll-snap-type: y proximity) {
        scroll-snap-type: y proximity;
    }
    max-width: 1600px;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif;
}
h3 {
    margin: 0 0 1em 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    color: gray;   
}
p, li {
    line-height: 1.3em;
}
a, a:visited {
    text-decoration: none;
    color: black;
}

// Chevron
// .chevron {
//     position: relative;
//     top: 10vh;
//     left: 50%;
//     height: 60px;
//     width: 200px;
// }​
// .chevron::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 10%;
//     width: 51%;
//     background: gray;
//     transform: skew(0deg, 20deg);
// }
// .chevron::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 10%;
//     width: 50%;
//     background: #000;
//     transform: skew(0deg, -20deg);
// } 


    
  


///////////////////////////////////////////////////////
///////////////////* Small Styles  *///////////////////

/************ Footer / Contacts - Small Screen ************/
footer {
    margin: 7%;

    .social-contacts {
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        
        a {
            img {
            width: 40px;
            }
        }
    }
    .fine-print {
        text-align: center;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        color: gray;  
    }
}
////////////////* end -Small Styles  */////////////////

///////////////////////////////////////////////////////
///////////////////* Medium Styles *////////////////////

@media (min-width: 700px) {
/************ WELCOME - Medium Screen ************/
.page {
    height: 90vh;
    margin: 7%;
    padding: 0;
}

/************ Footer / Contacts - Medium Screen ************/
footer {
    .social-contacts {
        width: 70%;
        margin: 0 auto;
    }
}

}
/////////////////* end Medium Styles *///////////////

///////////////////////////////////////////////////////
///////////////////* Large Styles *////////////////////

@media (min-width: 900px) {
   
/************ Footer / Contacts - Large Screen ************/
footer {
    .social-contacts {
        width: 50%;
    }
}

}
/////////////////* end Large Styles *//////////////////
    