@import 'universal';
@import 'nav';

/*
Views:
    Small < 700px
    Medium < 900px
    Large 900-1600px;
*/

///////////////////////////////////////////////////////
///////////////////* Small Styles  *///////////////////

/************ WELCOME - Small Screen ************/
.hero-image {
    height: 100vh;
    margin: 0%;
    padding: 1%;
    // TODO: change to own photos; photo transitions/animations
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1)) ,url("https://images.unsplash.com/photo-1492546643178-96d64f3fd824?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8c8b0ca61fa643ce14689caf7a5bd84d& auto=format&fit=crop&w=1051&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-text {
        h1 {
            opacity: 0;
            margin: 40vh 0 0 10%;
            font-size: 1.5em;
            text-shadow: 1px 1px #555;
        }
        h2 {
            opacity: 0;
            margin: 1% 10% 0 11%;
            font-size: 1em;
        }    
        .social-contacts-header {
            opacity: 0;
            margin: 2% 10%;
            display: flex;
            justify-content: space-between;
            a {
                img {
                width: 25px;
                }
                :hover {
                    filter: grayscale(100%);
                    transition: 1s ease;
                }
                .img-github:hover {
                    filter: invert(50%);
                    transition: 1s ease;
                }
                .img-medium:hover {
                    filter: invert(100%);
                    transition: 1s ease;
                }
            }
        }
    } 
}


/************ ABOUT ME - Small Screen ************/
.about {
    margin: 7%;

    .profile-picture-small  {
        display: block;
        padding: 0 5%;
        margin: 0 auto;
        max-width: 90%;
        max-height: 400px;
    }
    .profile-picture-large {
        display: none;
    }
    .tech-stack {
        display: flex;
        justify-content: space-evenly;
        
        img {
            width: 10%;
            height: 10%;
            padding: 2%;
        }
    }

}

/************ Project Gallery - Small Screen - Flexbox ************/
.project-gallery {
    margin: 7%;
  
    %card-small {
        @supports (scroll-snap-align: center) {
            scroll-snap-align: center;
        }
        margin-bottom: 7%;
        height: 55vh;
        padding: 10% 5%;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        border-radius: 15px;
        box-shadow: 0;
        transition: box-shadow 1s;
        border: 1px solid #eee;
    
            .project-title {
                margin: 0;
            }
            .project-snippet {
                margin: 0;
                padding: 1% 0 5% 0;
                font-size: 0.9em;
            }
            img {
                padding-left: 5%;
                width: 90%;
            }
            .project-roles {
                font-size: 0.85em;
            }
    }

    .terminal-app {
        @extend %card-small;
        background: #1AA03A;
        .project-roles {
            bottom: 0; // manual override due to greater image height
        }
    }    
    .terminal-app:hover {
        box-shadow: 0 0 30px #515151;
    }  
    .saas-blog-mockup {
        @extend %card-small;
        background: #FFB900;
    }  
    .saas-blog-mockup:hover {
        box-shadow: 0 0 30px #515151;
    }  
    .yelpcamp {
        @extend %card-small;
        background: #64D0C0;
    }  
    .yelpcamp:hover {
        box-shadow: 0 0 30px #515151;
    }  
}

////////////////* end - Small Styles  */////////////////


///////////////////////////////////////////////////////
///////////////////* Medium Styles *////////////////////

@media (min-width: 700px) {
/************ WELCOME - Medium Screen ************/
.hero-image {
   .hero-text {
        h1 {
            margin: 50vh 0 0 10%;
            font-size: 2.5em;
            text-shadow: 2px 2px 1px #555;
        }
        .social-contacts-header {
            width: 50%;
            a {
                padding: 0 2%;
                img {
                width: 30px;
                }
            }
        } 
    }
}

/************ ABOUT ME - Medium Screen ************/
.about {
    @supports (scroll-snap-align: center) {
        scroll-snap-align: center;
    }
    min-height: 90vh;
    display: flex;
    align-items: center;
    
    .about-desc {
        max-width: 60%;
        .profile-picture-small  {
            display: none;
        }
    }
    .about-images {
        max-width: 40%;
        .profile-picture-large {
            margin: 0 10%;
            max-width: 80%;
            display: inline;
        } 
    }
  }
    
/************ Project Gallery - Medium Screen - Grid ************/
.project-gallery {
    margin: 0;

    h3 {
        position: relative;
        margin-left: 7%;
        top: 5vh;
    }
  
    %card-medium {
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "left-top right"
            "left-middle right"
            "left-bottom right";
        grid-column-gap: 20px;

            .project-title {
                grid-area: left-top;
                align-self: end;
                font-size: 1.5em;
            }
            .project-snippet {
                grid-area: left-middle;
                font-size: 1em;
                padding: 0%;
            }
            img {
                grid-area: right;
                justify-self: end;
                align-self: center;
                align-self: right;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
            .project-roles {
                grid-area: left-bottom;
                align-self: end;
            }
    }

    .terminal-app {
        @extend %card-medium;
    }      
    .saas-blog-mockup {
        @extend %card-medium;
    }  
    .yelpcamp {
        @extend %card-medium;
    }  
}

}
/////////////////* end Medium Styles *///////////////

///////////////////////////////////////////////////////
///////////////////* Large Styles *////////////////////

@media (min-width: 900px) {
/************ WELCOME - Large Screen ************/
.hero-image {
    .hero-text {
        h1 {
            font-size: 4em;
        }
        h2 {
            font-size: 2em;
        }
        
        .social-contacts-header {
            width: 40%;
        }                
    }
}

/************ ABOUT ME - Large Screen ************/
.about {      }
    
/************ Project Gallery - Large Screen - Grid  ************/
.project-gallery {
    h3 {
        top: 7vh;
    }
    
    %card-large {    
        .project-title {
            font-size: 2.5em;
        }
    }

    .terminal-app {
        @extend %card-large;
    }      
    .saas-blog-mockup {
        @extend %card-large;
    }  
    .yelpcamp {
        @extend %card-large;
    }  
}

}
    /////////////////* end Large Styles *//////////////////
    