@import 'universal';
@import 'nav';

/*
Views:
    Small < 700px
    Medium < 900px
    Large 900-1600px;
*/

///////////////////////////////////////////////////////
///////////////////* Small Styles  *///////////////////

/************ Hero - Small Screen ************/
.hero-image {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://raw.githubusercontent.com/TheodoreChuang/TC-Portfolio/project_page/assets/images/GetMeMoney-menu_options_screenshot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-text {
        text-align: center;
        padding: 15vh 7%;
        color: white;
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1em;
        }    
    }
}

/************ Project Details - Small Screen ************/
.project-description {
    margin: 7%;
    
    .bullets ul {
        margin-left: -20px;
    }
}

/************ Project Image Gallery - Small Screen ************/
.project-images {
    margin: 7%;
    
    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img {
        padding: 3.5%;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        }
    }
}
.next-project-banner {
    padding: 7%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://raw.githubusercontent.com/TheodoreChuang/TC-Portfolio/project_page/assets/images/saas-blog-header.png");
    background-repeat: no-repeat;
    background-size: cover;

    .next-project-text {
        padding: 0 7%;
        h4 {
            margin: 0;
            text-transform: uppercase;
            color: #FFF;
        } 
    }
}

///////////////* end - Small Styles  */////////////////


///////////////////////////////////////////////////////
///////////////////* Medium Styles *////////////////////
// @media (min-width: 700px) {}
////////////////* end Medium Styles *///////////////


///////////////////////////////////////////////////////
///////////////////* Large Styles *////////////////////

@media (min-width: 900px) {
/************ Hero - Large Screen ************/
.project-description {
    display: flex;

    .brief {
        width: 60%;
    }
    .bullets {
        padding-left: 10%;
        width: 40%;
    } 
}
.project-images {
    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        img {
            padding: 15px;
        }
    }
}

}
/////////////////* end Large Styles *//////////////////