@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
a.anchor {
  display: block;
  position: relative;
  top: -9vh;
  visibility: hidden; }

/************ Nav Bar - Small Screen ************/
header {
  position: sticky;
  top: -1px;
  height: 40px;
  background-color: #FFFFFF;
  border-bottom: 1px solid black;
  /* Hamburger styling */
  /* Screen reader only */
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  /*
 On small devices, allow it to toggle...
*/
  /*
   :target for non-JavaScript
   aria-expanded="true/false" will be for JavaScript
  */
  /* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */ }
  header .logo {
    float: left;
    padding: 10px; }
    header .logo span:hover {
      background-color: #000;
      color: #FFF;
      transition: 0.3s; }
  header .menu-toggle {
    float: right;
    padding: 10px;
    display: inline-block;
    line-height: 1em;
    font-size: 1em;
    color: #333; }
    header .menu-toggle span:hover {
      transition: 0.3s;
      color: gray; }
  header .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  header .main-menu {
    position: absolute;
    right: -210px;
    top: 0;
    height: 100%;
    transition: right 0.3s ease, box-shadow 0.3s ease;
    z-index: 999; }
    header .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 2.5em 0 0;
      /* Hide shadow w/ -8px while 'closed' */
      -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      min-height: 100%;
      width: 200px;
      background: #1a1a1a; }
      header .main-menu ul li:first-child a {
        border-top: 1px solid #383838; }
      header .main-menu ul .social-contacts {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        header .main-menu ul .social-contacts a {
          border-bottom: none; }
          header .main-menu ul .social-contacts a .img-invert {
            width: 30px;
            filter: invert(100%); }
          header .main-menu ul .social-contacts a .img {
            width: 30px; }
    header .main-menu a {
      display: block;
      padding: .75em 15px;
      line-height: 1em;
      font-size: 1em;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #383838; }
    header .main-menu .menu-close {
      position: absolute;
      left: 0;
      top: 0; }
  header .main-menu a:hover,
  header .main-menu a:focus {
    background: #333;
    text-decoration: underline; }
  header .main-menu:target,
  header .main-menu[aria-expanded="true"] {
    right: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25); }
  header .main-menu:target .menu-close,
  header .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001; }
  header .main-menu:target ul,
  header .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000; }
  header .main-menu:target + .backdrop,
  header .main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    cursor: default; }
  @supports (position: fixed) {
    header .main-menu,
    header .main-menu:target + .backdrop,
    header .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed; } }

/************ Nav Bar - Medium + Large Screen ************/
@media (min-width: 700px) {
  a[name*="terminal-app"] {
    display: block;
    position: relative;
    top: 3vh;
    visibility: hidden; }

  header {
    height: 0px;
    border: none; }
    header .logo {
      margin: 1% 0 0 1.5%; }
    header .menu-toggle {
      margin: 1% 2% 0 0; }
    header .main-menu {
      right: -32vw; }
      header .main-menu ul {
        width: 30vw; }
        header .main-menu ul .social-contacts {
          margin-top: 1em;
          display: flex;
          justify-content: space-evenly; }
          header .main-menu ul .social-contacts a {
            background: none;
            border-bottom: none; }
            header .main-menu ul .social-contacts a img {
              width: 30px;
              filter: grayscale(100%); }
            header .main-menu ul .social-contacts a :hover {
              filter: grayscale(0%); } }
/************ end Nav Bar - Medium + Large Screen ************/
/*
Views:
    Small < 700px
    Medium < 900px
    Large 900-1600px;
*/
/************ Universal Styles ************/
html {
  scroll-behavior: smooth; }

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }
  @supports (scroll-snap-type: y proximity) {
    body {
      scroll-snap-type: y proximity; } }

h3 {
  margin: 0 0 1em 0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  color: gray; }

p {
  line-height: 1.75em; }

a, a:visited {
  text-decoration: none;
  color: black; }

/************ WELCOME - Small Screen ************/
.welcome {
  height: 100vh;
  margin: 0%;
  padding: 1%;
  background-image: url("https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aed342eea1c8593563be90e10c423dfe&auto=format&fit=crop&w=1039&q=80"); }
  .welcome h1 {
    margin: 40vh 0 0 10%;
    font-size: 1.5em; }
  .welcome h2 {
    margin: 1% 0 0 11%;
    font-size: 1em; }
  .welcome .social-contacts-header {
    margin: 2% 10%;
    display: flex;
    justify-content: space-between; }
    .welcome .social-contacts-header a img {
      width: 25px; }

/************ ABOUT ME - Small Screen ************/
.about {
  margin: 7%; }
  .about .profile-picture-small {
    padding: 0 5%;
    max-width: 90%; }
  .about .profile-picture-large {
    display: none; }
  .about .tech-stack {
    display: flex;
    justify-content: space-evenly; }
    .about .tech-stack img {
      width: 10%;
      height: 10%;
      padding: 2%; }

/************ Project Gallery - Small Screen - Flexbox ************/
.project-gallery {
  margin: 7%; }
  .project-gallery .terminal-app, .project-gallery .saas-blog-mockup, .project-gallery .yelpcamp {
    margin-bottom: 7%;
    height: 55vh;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    border-radius: 15px; }
    @supports (scroll-snap-align: center) {
      .project-gallery .terminal-app, .project-gallery .saas-blog-mockup, .project-gallery .yelpcamp {
        scroll-snap-align: center; } }
    .project-gallery .terminal-app .project-title, .project-gallery .saas-blog-mockup .project-title, .project-gallery .yelpcamp .project-title {
      margin: 0; }
    .project-gallery .terminal-app .project-snippet, .project-gallery .saas-blog-mockup .project-snippet, .project-gallery .yelpcamp .project-snippet {
      margin: 0;
      padding: 1% 0 5% 0;
      font-size: 0.9em; }
    .project-gallery .terminal-app img, .project-gallery .saas-blog-mockup img, .project-gallery .yelpcamp img {
      padding-left: 5%;
      width: 90%; }
    .project-gallery .terminal-app .project-services, .project-gallery .saas-blog-mockup .project-services, .project-gallery .yelpcamp .project-services {
      font-size: 0.85em; }
  .project-gallery .terminal-app {
    background: #1AA03A; }
    .project-gallery .terminal-app .project-services {
      bottom: 0; }
  .project-gallery .saas-blog-mockup {
    background: #FFB900; }
  .project-gallery .yelpcamp {
    background: #64D0C0; }

/************ Footer / Contacts - Small Screen ************/
footer {
  margin: 7%; }
  footer .social-contacts {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly; }
    footer .social-contacts a img {
      width: 40px; }
  footer .fine-print {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    color: gray; }

@media (min-width: 700px) {
  /************ WELCOME - Medium Screen ************/
  .page {
    height: 90vh;
    margin: 7%;
    padding: 0; }

  .welcome h1 {
    margin: 50vh 0 0 10%;
    font-size: 2.5em; }
  .welcome .social-contacts-header {
    width: 50%; }
    .welcome .social-contacts-header a {
      padding: 0 2%; }
      .welcome .social-contacts-header a img {
        width: 30px; }

  /************ ABOUT ME - Medium Screen ************/
  .about {
    min-height: 90vh;
    display: flex;
    align-items: center; }
    @supports (scroll-snap-align: center) {
      .about {
        scroll-snap-align: center; } }
    .about .about-desc {
      max-width: 60%; }
      .about .about-desc .profile-picture-small {
        display: none; }
    .about .about-images {
      max-width: 40%; }
      .about .about-images .profile-picture-large {
        margin: 0 10%;
        max-width: 80%;
        display: inline; }

  /************ Project Gallery - Medium Screen - Grid ************/
  .project-gallery {
    margin: 0; }
    .project-gallery h3 {
      position: relative;
      margin-left: 7%;
      top: 5vh; }
    .project-gallery .terminal-app, .project-gallery .saas-blog-mockup, .project-gallery .yelpcamp {
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "left-top right" "left-middle right" "left-bottom right";
      grid-column-gap: 20px; }
      .project-gallery .terminal-app .project-title, .project-gallery .saas-blog-mockup .project-title, .project-gallery .yelpcamp .project-title {
        grid-area: left-top;
        align-self: end;
        font-size: 1.5em; }
      .project-gallery .terminal-app .project-snippet, .project-gallery .saas-blog-mockup .project-snippet, .project-gallery .yelpcamp .project-snippet {
        grid-area: left-middle;
        font-size: 1em;
        padding: 0%; }
      .project-gallery .terminal-app img, .project-gallery .saas-blog-mockup img, .project-gallery .yelpcamp img {
        grid-area: right;
        justify-self: end;
        align-self: center;
        align-self: right;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto; }
      .project-gallery .terminal-app .project-services, .project-gallery .saas-blog-mockup .project-services, .project-gallery .yelpcamp .project-services {
        grid-area: left-bottom;
        align-self: end; }

  /************ Footer / Contacts - Medium Screen ************/
  footer .social-contacts {
    width: 70%;
    margin: 0 auto; } }
@media (min-width: 900px) {
  /************ WELCOME - Large Screen ************/
  .welcome h1 {
    font-size: 4em; }
  .welcome h2 {
    font-size: 2em; }
  .welcome .social-contacts-header {
    width: 40%; }

  /************ ABOUT ME - Large Screen ************/
  /************ Project Gallery - Large Screen - Grid  ************/
  .project-gallery h3 {
    top: 7vh; }
  .project-gallery .terminal-app .project-title, .project-gallery .saas-blog-mockup .project-title, .project-gallery .yelpcamp .project-title {
    font-size: 2.5em; }

  /************ Footer / Contacts - Large Screen ************/
  footer .social-contacts {
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
