@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
a.anchor {
  display: block;
  position: relative;
  top: -9vh;
  visibility: hidden; }

/************ Nav Bar - Small Screen ************/
header {
  position: sticky;
  top: -1px;
  height: 40px;
  background-color: #FFFFFF;
  border-bottom: 1px solid black;
  /* Hamburger styling */
  /* Screen reader only */
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  /*
 On small devices, allow it to toggle...
*/
  /*
   :target for non-JavaScript
   aria-expanded="true/false" will be for JavaScript
  */
  /* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */ }
  header .logo {
    float: left;
    padding: 10px; }
    header .logo span:hover {
      background-color: #000;
      color: #FFF;
      transition: 0.3s; }
  header .menu-toggle {
    float: right;
    padding: 10px;
    display: inline-block;
    line-height: 1em;
    font-size: 1em;
    color: #333; }
    header .menu-toggle span:hover {
      transition: 0.3s;
      color: gray; }
  header .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  header .main-menu {
    position: absolute;
    right: -210px;
    top: 0;
    height: 100%;
    transition: right 0.3s ease, box-shadow 0.3s ease;
    z-index: 999; }
    header .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 2.5em 0 0;
      /* Hide shadow w/ -8px while 'closed' */
      -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      min-height: 100%;
      width: 200px;
      background: #1a1a1a; }
      header .main-menu ul li:first-child a {
        border-top: 1px solid #383838; }
      header .main-menu ul .social-contacts {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        header .main-menu ul .social-contacts a {
          border-bottom: none; }
          header .main-menu ul .social-contacts a .img-invert {
            width: 30px;
            filter: invert(100%); }
          header .main-menu ul .social-contacts a .img {
            width: 30px; }
    header .main-menu a {
      display: block;
      padding: .75em 15px;
      line-height: 1em;
      font-size: 1em;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #383838; }
    header .main-menu .menu-close {
      position: absolute;
      left: 0;
      top: 0; }
  header .main-menu a:hover,
  header .main-menu a:focus {
    background: #333;
    text-decoration: underline; }
  header .main-menu:target,
  header .main-menu[aria-expanded="true"] {
    right: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25); }
  header .main-menu:target .menu-close,
  header .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001; }
  header .main-menu:target ul,
  header .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000; }
  header .main-menu:target + .backdrop,
  header .main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    cursor: default; }
  @supports (position: fixed) {
    header .main-menu,
    header .main-menu:target + .backdrop,
    header .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed; } }

/************ Nav Bar - Medium + Large Screen ************/
@media (min-width: 700px) {
  a[name*="terminal-app"] {
    display: block;
    position: relative;
    top: 3vh;
    visibility: hidden; }

  header {
    height: 0px;
    border: none; }
    header .logo {
      margin: 1% 0 0 1.5%; }
    header .menu-toggle {
      margin: 1% 2% 0 0; }
    header .main-menu {
      right: -32vw; }
      header .main-menu ul {
        width: 30vw; }
        header .main-menu ul .social-contacts {
          margin-top: 1em;
          display: flex;
          justify-content: space-evenly; }
          header .main-menu ul .social-contacts a {
            background: none;
            border-bottom: none; }
            header .main-menu ul .social-contacts a img {
              width: 30px;
              filter: grayscale(100%); }
            header .main-menu ul .social-contacts a :hover {
              filter: grayscale(0%); } }
/************ end Nav Bar - Medium + Large Screen ************/
/*
Views:
    Small < 700px
    Medium < 900px
    Large 900-1600px;
*/
/************ Universal Styles ************/
html {
  scroll-behavior: smooth; }

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }
  @supports (scroll-snap-type: y proximity) {
    body {
      scroll-snap-type: y proximity; } }

h3 {
  margin: 0 0 1em 0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  color: gray; }

p {
  line-height: 1.75em; }

a, a:visited {
  text-decoration: none;
  color: black; }

/************ Footer / Contacts - Small Screen ************/
footer {
  margin: 7%; }
  footer .social-contacts {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly; }
    footer .social-contacts a img {
      width: 40px; }
  footer .fine-print {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    color: gray; }

@media (min-width: 700px) {
  /************ WELCOME - Medium Screen ************/
  .page {
    height: 90vh;
    margin: 7%;
    padding: 0; }

  /************ Footer / Contacts - Medium Screen ************/
  footer .social-contacts {
    width: 70%;
    margin: 0 auto; } }
@media (min-width: 900px) {
  /************ Footer / Contacts - Large Screen ************/
  footer .social-contacts {
    width: 50%; } }
/*
Views:
    Small < 700px
    Medium < 900px
    Large 900-1600px;
*/
/************ Hero - Small Screen ************/
.hero-banner {
  height: 100vh;
  margin: 0%;
  padding: 1%; }
  .hero-banner img {
    max-height: 100vh; }

.project-description {
  margin: 7%;
  display: flex;
  flex-direction: column; }

.project-image-gallery {
  margin: 7%; }
  .project-image-gallery img {
    width: auto;
    height: auto; }

@media (min-width: 700px) {
  /************ Hero - Medium Screen ************/ }
@media (min-width: 900px) {
  /************ Hero - Large Screen ************/ }

/*# sourceMappingURL=projects.css.map */
