@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

/************ Universal Styles ************/
body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    margin: 0 0 1em 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    color: gray;   
}
p {
    line-height: 1.75em;
}
a, a:visited {
    text-decoration: none;
}


///////////////////////////////////////////////////////
///////////////////* Small Styles  *///////////////////

/************ WELCOME - Small Screen ************/
.welcome {
    h1 {
        margin: 40% 7% 1.5% 7%;
        font-family: 'Raleway', sans-serif;
    }
    h2 {
        margin: 1.5% 7% 10% 7%;
        font-size: 1em;
    }

    .profile-picture-small  {
        img {
            max-width: 100%;
        }
    }
    .social-contacts-header {
        display: none;
    } 
}

/************ Nav Bar - Small Screen ************/
nav {
    position: sticky;
    top: -1px;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;

    .logo {
        float: left;
        padding: 10px;
    }

    .nav {
        float: right;
        padding: 10px;
    }
} 



/************ ABOUT ME - Small Screen ************/
.about {
    margin: 15% 7%;

    .profile-picture-large {
        display: none;
    }
    .tech-stack {
        display: flex;
        justify-content: space-evenly;
        
        img {
            width: 10%;
            height: 10%;
            padding: 2%;
        }
    }

}

/************ Project Gallery - Small Screen ************/
.project-gallery {
    margin: 15% 7%;
  
    .terminal-app {
        margin-bottom: 7%;
        height: 55vh;
        padding: 10% 5%;
        display: flex;
        flex-direction: column;
        background: #1AA03A;
        color: #FFFFFF;
        border-radius: 2%;

            .project-title {
                margin: 0;
            }
            .project-snippet {
                margin: 0;
                padding: 2% 0 20% 0;
                font-size: 0.9em;
            }
            img {
                padding-left: 5%;
                width: 90%;
            }
            .project-services {
                align-self: flex-end;
                font-size: 0.85em;
            }
    }  
    
    .eCommerce-blog-mockup {
        margin-bottom: 7%;
        height: 55vh;
        padding: 10% 5%;
        display: flex;
        flex-direction: column;
        background: #64D0C0;;
        color: #FFFFFF;
        border-radius: 2%;

            .project-title {
                margin: 0;
            }
            .project-snippet {
                margin: 0;
                padding: 2% 0 20% 0;
                font-size: 0.9em;
            }
            img {
                padding-left: 5%;
                width: 90%;
            }
            .project-services {
                align-self: flex-end;
                font-size: 0.85em;
            }
    }  
}

/************ Footer / Contacts - Small Screen ************/
footer {
    margin: 15% 7%;

    .social-contacts {
        padding: 5% 0;
        display: flex;
        justify-content: space-evenly;
        
        a {
            img {
            width: 40px;
            }
        }
    }
    .fine-print {
        margin: 15% 0;
        text-align: center;
        font-size: 0.9em;
        font-family: 'Raleway', sans-serif;
        color: gray;  
    }

}
////////////////* end -Small Styles  */////////////////

///////////////////////////////////////////////////////
///////////////////* Large Styles *////////////////////

@media (min-width: 800px) {
/************ WELCOME - Large Screen ************/
.page {
    height: 90vh;
    margin: 0%;
    padding: 5% 0 5% 0;
}
.welcome {
    // TODO: change to own photos; photo transitions/animations
    background-image: url("https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aed342eea1c8593563be90e10c423dfe&auto=format&fit=crop&w=1039&q=80");

    h1 {
        margin: 25% 0 0 10%;
        font-size: 4em;
    }
    h2 {
        margin: 1% 0 2% 11%;
        font-size: 2em;
    }

    .profile-picture-small  {
        display: none;
    }
    
    .social-contacts-header {
        margin: 0 0 0 11%;
        display: block;
        a {
            padding: 2%;
            img {
            width: 30px;
            }
        }
    } 
}

/************ Nav Bar - Large Screen ************/
nav {
    position: sticky;

    height: 0px;
    background-color: #FFFFFF;
    border: none;

    .logo {
        float: left;
        padding: 2%;
    }

    .nav {
        float: right;
        padding: 2%;
    }
} 

/************ ABOUT ME - Large Screen ************/
.about {
  display: flex;
  align-items: center;
    .about-desc {
        max-width: 60%;
    }
    .about-images {
        max-width: 40%;
        .profile-picture-large {
            margin: 0 10%;
            max-width: 80%;
            display: inline;
        } 
    }
  }
    



}
/////////////////* end Large Styles *//////////////////